<div>
    <h2 translate="flightalertApp.flightSlice.home.title">FlightSlices</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="flightSlice.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="flightalertApp.flightSlice.home.createLabel">Create new FlightSlice
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'flightalertApp.flightSlice.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="origin"><span translate="flightalertApp.flightSlice.origin">Origin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="destination"><span translate="flightalertApp.flightSlice.destination">Destination</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="preferredCabin"><span translate="flightalertApp.flightSlice.preferredCabin">PreferredCabin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="flightalertApp.flightSlice.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxStops"><span translate="flightalertApp.flightSlice.maxStops">MaxStops</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxConnectionDurationInMinutes"><span translate="flightalertApp.flightSlice.maxConnectionDurationInMinutes">MaxConnectionDurationInMinutes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxPriceInCHF"><span translate="flightalertApp.flightSlice.maxPriceInCHF">MaxPriceInCHF</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="refundable"><span translate="flightalertApp.flightSlice.refundable">Refundable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flightRequest.id"><span translate="flightalertApp.flightSlice.flightRequest">flightRequest</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="flightSlice in flightSlices track by flightSlice.id">
                    <td><a ui-sref="flightSlice.detail({id:flightSlice.id})">{{flightSlice.id}}</a></td>
                    <td>{{flightSlice.origin}}</td>
                    <td>{{flightSlice.destination}}</td>
                    <td translate="{{'flightalertApp.CabinClass.' + flightSlice.preferredCabin}}">{{flightSlice.preferredCabin}}</td>
                    <td>{{flightSlice.date | date:'medium'}}</td>
                    <td>{{flightSlice.maxStops}}</td>
                    <td>{{flightSlice.maxConnectionDurationInMinutes}}</td>
                    <td>{{flightSlice.maxPriceInCHF}}</td>
                    <td>{{flightSlice.refundable}}</td>
                    <td>
                        <a ui-sref="flightRequest.detail({id:flightSlice.flightRequest.id})">{{flightSlice.flightRequest.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="flightSlice.detail({id:flightSlice.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flightSlice.edit({id:flightSlice.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flightSlice.delete({id:flightSlice.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
